@import '../../styles/vars.scss';

.form {
  margin-bottom: 60px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__group:first-child {
    position: relative;

    .form__search-icon {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
    }
  }

  &__group:last-child {
    position: relative;

    .form__arrow {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }
  }

  &__search {
    position: relative;
    padding: 15px 15px 15px 50px;
    border: none;
    box-shadow: $box-shadow;
    border-radius: 7px;
    font-family: inherit;
    font-size: 16px;

    &:focus {
      outline: none;
    }
  }

  &__filter {
    position: relative;
    padding: 15px 50px 15px 10px;
    border: none;
    border-radius: 7px;
    box-shadow: $box-shadow;
    font-size: 16px;
    font-family: inherit;
    appearance: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    option {
      font-size: 16px;
      color: #000;

      &:first-child {
        color: #bdbdbd;
      }
    }
  }
}

@import './media.scss';
