@import '../../styles/vars.scss';

.app {
  min-height: 100vh;
  background-color: $app-background-light;
}

// ================= Dark Theme Styles =================

.app.dark {
  background-color: $app-background-dark;

  .header {
    background-color: $color-dark;

    &__title {
      color: $color-light;
    }

    &__btn {
      color: $color-light;
    }
  }

  .form {
    &__search {
      color: $color-light;
      background-color: $color-dark;
    }

    &__filter {
      color: $color-light;
      background-color: $color-dark;

      option {
        color: $color-light;
      }
    }
  }

  .item {
    &__name,
    &__population,
    &__region,
    &__capital {
      color: $color-light;
    }
  }

  .details {
    background-color: $app-background-dark;

    &__content {
      h2,
      > div {
        color: $color-light;
      }
    }

    &__back {
      color: $color-light;
      background-color: $color-dark;
    }
  }

  .not-found {
    background-color: $app-background-dark;

    &__caption,
    a {
      color: $color-light;
    }
  }
}
