@media (max-width: 480px) {
  .header__title {
    font-size: 16px;
  }

  .header__theme {
    gap: 0;
  }

  .header__img {
    width: 20px;
    height: 20px;
  }

  .header__btn {
    font-size: 10px;
  }
}
