.item {
  box-shadow: 5px 5px 15px #ccc;
  border-radius: 7px;
  overflow: hidden;
  flex: 0 1 250px;

  &__group:first-child {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__group:last-child {
    padding: 15px 20px 25px;

    div:not(:last-child) {
      margin-bottom: 7px;
    }

    span {
      font-weight: 600;
    }
  }

  &__name {
    margin: 0 0 15px 0;
    font-size: 21px;
  }
}

@import './media.scss';
