@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,600,700);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

[class$='__container'] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  padding: 60px 0 50px;
}
